<div class="container">
<div class="jumbotron">
<h1>Create Your Profile</h1>

<%= render 'form' %>
<div class="pull-right" style="margin-right: 0%">
<%= link_to 'Back', profiles_path, class: "btn btn-primary" %>
</div>
</div>
</div>
