<div class="container">
<div class="jumbotron">
  <div id="clearance" class="sign-in">
  <h1><%= t(".title") %></h1>
   <p class="lead">Welcome back jet-setter! How was your last stay at one of our exotic yet homely locations? If you haven't made a booking yet, what else are you waiting for! The world waits for no one! Enjoy your next stay!</p>
   <p class="lead">Sign In to continue...</p>
  <%= render partial: '/sessions/form' %>

</div>
</div>
</div>


<!-- <form id="searchForm" action="/search/?q=" method="get">
	<input type="search" placeholder="Search" name="q" >
</form>

<h3>Demo 2</h3>
<form id="demo-2" action="/search/?q=" method="get">
	<input type="search" placeholder="Search" name="q" >
</form> -->