<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.profile != nil %>
    <h1> Hi <%= @user.profile.name %> ! </h1>

    <% else %>

    <h1> Hi <%= @user.email %> ! </h1>

    <% end %>

    <br>
    <h2>
      Congratulations! You have a new booking for your <%= @listing.name %> listing on JohnsonBBnB!
    </h2>
  </body>
</html>